@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

:root {
  --background-color: #444;
  --text-color: #fff;
  --task-bg-color: #4d4d4d;
  --task-hover-color: #666;
  --task-deadline-color: #1eb300;
  --task-description-color: #b5b5b5;
  --deadline-past-color: #f44336;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
  margin: auto;
  max-width: 800px;
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #383838;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

.btn-primary {
  border-radius: 5px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--task-bg-color); /* Dark mode background color for list items */
}

.list-group-item:hover {
  background-color: var(--task-hover-color); /* Dark mode hover color */
}

.task-counts span {
  font-size: 1.1em;
}

.task-counts button {
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 1em;
}

.task-deadline {
  color: var(--task-deadline-color); /* Lighter text color in dark mode */
}

.task-description {
  color: var(--task-description-color); /* Lighter text color in dark mode */
}

.task-deadline.deadline-past {
  color: var(--deadline-past-color); /* Red color for past deadlines in dark mode */
}

/* Dark mode styles for the modal */
.modal-content {
  background-color: #383838; /* Dark background for the modal */
  color: var(--text-color); /* Use the text color variable for modal text */
}

.modal-header,
.modal-body,
.modal-footer {
  border-color: #555; /* Dark border color for modal sections */
}

/* Style for form inputs and labels within the modal */
.modal-body .form-control,
.modal-body .form-control:focus,
.modal-body .custom-select {
  background-color: #4d4d4d; /* Dark background for form inputs */
  border-color: #666; /* Dark border for form inputs */
  color: var(--text-color); /* Use the text color variable for input text */
}

.modal-body label {
  color: var(--text-color); /* Use the text color variable for labels */
}

/* Style for the close button in the modal header */
.modal-header .close {
  color: var(--text-color); /* Use the text color variable for the close button */
  opacity: 1; /* Make sure the close button is fully visible */
}

/* Style for buttons in the modal footer */
.modal-footer .btn {
  border-color: #666; /* Dark border for buttons */
}

/* Style for the modal backdrop */
.modal-backdrop.show {
  opacity: 0.8; /* Slightly transparent backdrop for contrast */
}
